/* side bar button */
.article-author-side {
  .resume {
    margin-top: 50px;
    padding: 10px 0;
  }
}

body.resume-print {
  font: normal 12px 'PT Serif', serif;

  #header {
    border-bottom: 10px solid #3d557c;
    clear: both;
    height: 150px;

    .contact-info {
      float: left;
      overflow:hidden;
      width: 60%;
    }

    #qrcode {
      padding: 15px;
    }

    img {
      height: 120px;
      width: 120px;
    }

    h1 {
       font-size: 20px;
    }
  }

  #main {
    margin-top: 0;

    h2 {
      font-size: 18px;
      margin-bottom: 0;
    }

    h4 {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}
