---
sitemap: false
---

/* printable version of the resume to generate pdf */

body {
  font: normal 16px 'PT Serif', serif;
}

#header {
  background-color: #666;
  border-bottom: 10px solid #777;
  clear: both;
  color: #fff;
  height: 200px;
  margin-bottom: 30px;

  a {
    color: #fff;
  }

  h1 {
    font-family: 'PT Serif', serif;
  }

  .contact-info {
    float: left;
    overflow:hidden;
    width: 60%;
  }

  #qrcode {
    float: left;
    overflow:hidden;
    text-align: right;
    width: 40%;
  }
}

#main {
  h1, h2, h3, h4 {
    font: bold 20px 'PT Serif', serif;
  }

  h1 {
    background-color: #666;
    color: #fff;
    font-size: 18px;
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
  }  
}

