<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
  <link href="/assets/css/resume.css" rel="stylesheet">
</head>

<body class="resume-print">

<section id="header">
  <div class="contact-info">
    <h1>Quoc Vu</h1>
    <i class="fa fa-fw fa-phone"></i> <span id="phone">408-681-9223</span><br/>
    <i class="fa fa-fw fa-envelope"></i> <a href="mailto:darthvu@gmail.com">darthvu@gmail.com</a><br/>
    <i class="fa fa-fw fa-linkedin"></i> <a href="https://www.linkedin.com/in/quocvu/">http://www.linkedin.com/in/quocvu/</a><br/>
    <i class="fa fa-fw fa-file-text"></i> <a href="https://quocvu.github.io/resume">http://quocvu.github.io/resume</a></span>
  </div>
  <div id="qrcode" class="pull-right">
    <img src="/qrcode.png"/>
  </div>
</section>

<div id="main" role="main" class="container">
  {{ content }}
</div>

</body>
</html>
